.todo-container {
  width: 380px;
  padding-left: 41%;
  padding-top: 70px;
}

.todo-listall {
  width: 340px;
  padding-left: 36.9%;
}

.font-heading {
  
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
}


